@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d3b1b1;
  padding: 80px 0px;
}

.texto {
  position: absolute;
  font-family: 'Russo One',sans-serif;
  font-size: 15vw;
  font-style: italic;
}

.texto::after {
  content: attr(text);
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  color: transparent;
  -webkit-text-stroke: 0.15vw black;
}

img {
  width: 50vw;
  animation: sneakerAnimation 2s cubic-bezier(0.25, 1, 0.5, 1) infinite alternate;

}

@keyframes sneakerAnimation {
  0%, 10% {
    transform: translate(100vw, 0) rotate(15deg)
  }
  90%, 100% {
    transform: translate(-5vw, -5vw) rotate(-30deg);
  }
}
